xml/search/collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="sort.xsd"/>
<xs:include schemaLocation="collectiontype.xsd"/>

<xs:complexType name="collection">
	<xs:sequence>
		<xs:element name="display" type="xs:string" maxOccurs="unbounded"/>
		<xs:element name="sort" type="sort" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="field" type="xs:string" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="type" type="collectiontype" use="required"/>
</xs:complexType>

</xs:schema>
