xml/search/field.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="field">
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="type" type="fieldtype"/>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="fieldtype">
  <xs:restriction base="xs:string">
		<xs:enumeration value="date"/>
		<xs:enumeration value="numeric" />
		<xs:enumeration value="organisation" />
		<xs:enumeration value="text" />
	</xs:restriction>
</xs:simpleType>

</xs:schema>
