xml/salespaymentallocation/salespaymentallocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="salespaymentallocation">
	<xs:sequence>
		<xs:element name="salespayment" type="xs:positiveInteger" minOccurs="0"/>
		<xs:element name="salesinvoice" type="xs:positiveInteger"/>
		<xs:element name="amount" type="xs:decimal"/>
	</xs:sequence>
  <xs:attribute name="is_deleted" type="xs:boolean"/>
	<xs:attribute name="id" type="xs:positiveInteger"/>
</xs:complexType>

</xs:schema>
