xml/bank/ledger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="ledger">
	<xs:sequence>
		<xs:element name="account" type="xs:nonNegativeInteger"/>
		<xs:element name="division" type="xs:positiveInteger" minOccurs="0"/>
		<xs:element name="department" type="xs:positiveInteger" minOccurs="0"/>
		<xs:element name="debit" type="xs:decimal" minOccurs="0"/>
		<xs:element name="credit" type="xs:decimal" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>

</xs:schema>
