xml/bank/paymentallocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="paymentallocation">
	<xs:sequence>
		<xs:element name="invoice" type="xs:positiveInteger"/>
		<xs:element name="amount" type="xs:decimal" />
	</xs:sequence>
</xs:complexType>

</xs:schema>
