xml/bank/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="paymentallocation.xsd"/>

<xs:complexType name="payment">
	<xs:sequence>
		<xs:element name="organisation" type="xs:positiveInteger"/>
		<xs:element name="amount" type="xs:decimal" />
		<xs:element name="description" type="xs:string" minOccurs="0"/>
		<xs:element name="paymentallocation" type="paymentallocation" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

</xs:schema>
